<!DOCTYPE html>
<html>
<head>
  <title>RyanWebsite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="nav">
    ~*<%= link_to "Home", controller: "home" %>*~
    <br>
    <br>
    ~*<%= link_to "Photographs", controller: "photo" %>*~
    <br>
    <br>
    ~*<%= link_to "About Ryan", controller: "aboutme" %>*~
    <br>
    <br>
    ~*<%= link_to "Contact Me", controller: "contact"%>*~
  </div>

<%= yield %>

</body>
</html>
